.banner-75vh {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 100%;
  height:    400px;
  text-shadow: 2px 2px 3px grey;
  background-size: cover;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.add {
  text-align: center;
  font-size: 30px;
}

.card-dose {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 70px;
  padding: 70px;
  text-align: center;
}

.card {
  margin: 20px auto;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
